{% extends 'main/base.html' %}

{% block title %}
Create task
{% endblock %}

{% block content %}

<body style="background-color: rgb(196, 212, 169);"></body>

<div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">The 5 most popular national sports in Kazakhstan </h1>
        <p class="lead text-muted">Traditional Kazakh food is nomadic food. For centuries, Kazakhs were herders who raised horses, sheep, cows, and Bactrian camels. They relied on these animals for transportation, clothing, and food, developing cooking techniques and methods of preservation that facilitated their nomadic lifestyle.Being able to produce food that was portable and long-lasting was important to the Kazakh way of life. Food needed to withstand many months on the road so salting and drying meat became a necessity. Milk was soured to improve its shelf life while boiling was the most practical and commonly used method of cooking.</p>
      </div>

<
<div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sports</font></font></strong>
          <h3 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Kumis alu</font></font></h3>
          <p class="card-text mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> It’s traditionally made with the meat and fat taken from the animal’s ribs.</font></font></p>
          <a href="#" class="stretched-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">More information</font></font></a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"></rect><img src="https://e-history.kz/media/upload/2065/2015/05/26/a4a02de4d8109fb1a67cb9dab041e551.jpg" alt="Kumus alu" width="250" height="200"></svg>

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sports</font></font></strong>
          <h3 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Baige</font></font></h3>
          <p class="mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Baige is the national dish of Kazakhstan.</font></font></p>
          <a href="#" class="stretched-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">More information</font></font></a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"></rect><img src="https://e-history.kz/media/upload/2065/2015/05/26/1eec7df0839f50ac496d48cb1ebf6a44.jpg" alt="Beshbarmak" width="200" height="180"></svg>

        </div>
      </div>
    </div>
  </div>




{% endblock %}

