{% extends 'main/base.html' %}

{% block title %}
Beshbarmak
{% endblock %}

{% block content %}



<body style="background-color: rgb(196, 212, 169);"></body>
<font size="6" color="green">Kyz kuu</font><br>
 <img src="https://opt-1058570.ssl.1c-bitrix-cdn.ru/upload/resize_cache/iblock/cfa/780_585_1/cfa4034b819534545b3004d199fab5e1.jpg?160739260656228" alt="dastarkan" width="1100" height="550">

<div class="container px-4 py-5" id="featured-3">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"></use></svg>
        </div>
        <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Kymyz</font></font></h2>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">This is a very respected beverage among Kazakhs; and also considered useful for health. In early times Kazakhs would measure their richness by how much kumys they processed in a year. They'd say: "This family has twelve female horses, and thus became rich."Kumys is very good for everyone's health, and many people wrote about it. From ancient times, Eastern Arabs processed their musalla (wine); western slavs made their own wine, and kazakhs in deserts decantad their kumys. Each is considered to be a wine, but Kazakh kumys has its own peculiarities since the others were made of fruit, say, from grapes or pomegranates. </font><font style="vertical-align: inherit;"></font></font></p>
        <a href="#" class="icon-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
          More information
          </font></font><svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"></use></svg>
        </div>
        <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Shubat</font></font></h2>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Shubat (fermented camel's milk) - Shubat was fat and nutritious and often served as a medicine. Kazakhs added camel's milk to tea, which "burned the tea dark yellow, Shubat was considered superior to cow's milk. In early times our forefathers had a senior wife whose primary responsibility was milking camels and processing shubat. Believing it to have medicinal qualities, many resorts in the Kazakh Republic used to use it to prevent pulmonary tuberculosis as well.</font><font style="vertical-align: inherit;"></font></font></p>
        <a href="#" class="icon-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
           More information
          </font></font><svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
        </div>
        <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Airan</font></font></h2>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Airan (sour milk) - Kazakh used this winter and summer if it was available, although it was very difficult to make it a coagulate. First of all its acidify had to be good. Nowadays they make it coagulate with aspirin; but this does not improve its flavor. In early times Kazakhs ate light food, mostly drinking airan and eating kurt. Typically they drank airan after eating meat and before going to bed. Women made airan by heating milk just to make it warm, then acidifying it, covered and putting in a flat place. In the morning they'd open it, and it would have the consistency of liver. It was then kept in a cold place.</font><font style="vertical-align: inherit;"></font></font></p>
        <a href="#" class="icon-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
          More information
          </font></font><svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
    </div>
  </div>





{% endblock %}