{% extends 'main/base.html' %}

{% block title %}
Fifth page
{% endblock %}
<body style="background-color: rgb(196, 212, 169);"></body>
{% block content %}
<link type="text/css" rel="stylesheet" href="/static/css/style.css">



<div class="container px-4 py-5" id="featured-3">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"></use></svg>
        </div>
        <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Kokpar</font></font></h2>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Kokpar is a traditional flatbread hailing from Kazakhstan. It's made with a combination of flour, sugar, milk, salt, yeast or baking powder, and oil for frying. Once prepared, the dough is divided into balls, and each one is then rolled into a thin circle. </font><font style="vertical-align: inherit;"></font></font></p>
        <a href="#" class="icon-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
          More information
          </font></font><svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"></use></svg>
        </div>
        <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Kyz kuu</font></font></h2>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Kyz kuu (which means “five fingers,” either because it was traditionally eaten with the hands or because it should be made with meat that has a layer of fat five fingers high – the jury is out) sounds like a basic noodle and meat dish – which I suppose it is. The ingredients are minimal: dough, meat, onions, meat broth, some spices and oil or butter, but their preparation and presentation are crucial, and often ritualized.</font><font style="vertical-align: inherit;"></font></font></p>
        <a href="#" class="icon-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
           More information
          </font></font><svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
        </div>
        <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Baige</font></font></h2>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Baige is a delicious puffy fried bread served on special occasions all over Kazakhstan. This isn’t an everyday bread, but something for an important party, like a wedding, or even a memorial. It is said that the smell of the oil and the frying baursak floats high into the sky so that your dead loved ones can feed on the aroma and enjoy them with you. It’s a beautiful thought as you fry.</font><font style="vertical-align: inherit;"></font></font></p>
        <a href="#" class="icon-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
          More information
          </font></font><svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
    </div>
  </div>
{% endblock %}