{% extends 'main/base.html' %}

{% block title %}
Fourth page
{% endblock %}
<body style="background-color: rgb(196, 212, 169);"></body>
{% block content %}

<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">THE BEST OF KAZAKH Sports</h1>
      <p class="lead my-3">The nomadic lifestyle made raising crops difficult so meat has always formed the biggest part of the Kazakh diet. Mutton and beef were considered everyday food while horse and camel were regarded as festival meats. Horse and mutton are the most popular proteins in Kazakh cuisine and figure prominently in many dishes, including Beshbarmak, the Kazakh national dish.</p>
      <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
    </div>
  </div>
{% endblock %}
