{% extends 'main/base.html' %}

{% block title %}
sixth page
{% endblock %}
<body style="background-color: rgb(196, 212, 169);"></body>
{% block content %}

<font size="6" color="green">Audaryspak</font><br>
 <img src="https://e-history.kz/media/upload/2065/2015/05/26/bff7488b17eb2af27742bffd62691c6a.jpg" alt="shalap" width="1000" height="630">


<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">THE BEST OF KAZAKH Sports</h1>
      <p class="lead my-3">Mutton and beef were considered everyday food while horse and camel were regarded as festival meats. Horse and mutton are the most popular proteins in Kazakh cuisine and figure prominently in many dishes, including Beshbarmak, the Kazakh national dish.</p>
      <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
    </div>
  </div>
{% endblock %}